@charset "UTF-8";

button {
  display: inline-flex;
  width: 88px;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #3D87FF;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.2s ease;
}
button#close {
  background-color: #F64C4C;
}
button#open:hover, button#close:hover {
  opacity: 0.9;
}
#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 600px;
  min-height: 400px;
  padding: 4px;
  line-height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(5, 54, 132, 0.20);
}
#modal::before,
#modal::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  background: #252832;
  top: 30px;
  right: 30px;
  transform: translate(-50%, -50%) rotate(45deg);
  cursor: pointer;
}
#modal::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}